/* ----------------------- */

.clockwidget {
	color: #656565;
	text-align: right;
	font-size: 14px;
}

.clockwidget-hours {
	font-size: 90px;
	line-height: 80px;
    color: #7C5E25;
}

.clockwidget-minutes {
	font-size: 58px;
	line-height: 58px;
	vertical-align: top;
    color: #90733C;
}

.clockwidget-date {
	font-size: 28px;
}

 
